# Compiler files
cache/
out/

# Docs
docs/

# Dotenv file
.env

# MacOS
.DS_Store

broadcast/*

!broadcast/DeployCellCoqnet.s.sol
broadcast/DeployCellCoqnet.s.sol/42069/*
!broadcast/DeployCellCoqnet.s.sol/42069/run-latest.json

!broadcast/DeployDexalotSimpleSwapCell.s.sol
broadcast/DeployDexalotSimpleSwapCell.s.sol/43114/*
!broadcast/DeployDexalotSimpleSwapCell.s.sol/43114/run-latest.json

!broadcast/DeployCellCchain.s.sol
broadcast/DeployCellCchain.s.sol/43114/*
!broadcast/DeployCellCchain.s.sol/43114/run-latest.json
/script/tests
